body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: beige;
    padding: 10px;
    margin: 20px;
}
h1{
    text-align: center;
}
header nav ul{
    text-align: end;
    list-style: none;
}
mark{
    background-color: greenyellow;
}
span{
    background-color: yellow;
    color: brown;
    font-style: italic;
}
article{
    margin: 20px;
    padding: 20px;
    border : 1px solid;
}
footer{
    background-color: beige;
    margin: 20px ;
    padding-top: 1px;
    text-align: center;
}