body {
    font-family: Arial, sans-serif;
}
header {
    text-align: center;
    padding: 10px;
    background-color: #7117bf;
    color: white;
    margin: 20px;
    font-family:'Times New Roman', Times, serif
}
header img {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    margin-bottom: 0px;
}
section {
    margin: 20px;
    background-color: #7117bf;
    font-family:'Times New Roman', Times, serif
}
.project {
    width: 200px; /* Square dimensions */
    height: 200px;
    border: 5px solid #ccc;
    margin: 1px;
    display: inline-block; /* Aligns the containers side by side */
    text-align: center;
    line-height: 210px; /* Vertically centers the text */
}
h2{
    color: rgb(0, 0, 0);
}
h1 {
    color: white;
}
#bio, #work {
    background-color:rgb(221, 215, 204);
    padding: 15px;
}

footer {
    background-color: #f4f4f4;
    font-family:'Times New Roman', Times, serif;
    text-align: right;
    padding: 10px;
}
