header img{
 border-radius: 100px;
 height: 200px;
 width: 200px;
}
header{
    background-color: black;
    color: beige;
    text-align: center;
    margin: 1px;
    padding: 1px;
}
header nav ul {
    list-style: none;
    padding: 10px;
    margin: 0 10px;
}
header nav ul li {
    list-style: none;
    display: inline;
    padding: 10px;
    margin: 0 25px;
}
#nameofblog{
    text-align: center;
}
a:link{
    color: beige;
}
 a:hover{
    color: yellow;
}
 a:active{
    color: rgb(91, 229, 91);
}
a:visited{
    color: beige;
}
footer{
    color: beige;
    margin: 0;
    padding: 10px;
    padding-top: 10px ;
    text-align: center;
    background-color: black;
}
