header{
    background-color:#fb6f92;
    text-align: center;
    color:white ;
    padding: 10px;
    border: 0px solid;
}
body{
    background-color: #ffe5ec;
    margin:0px;
    margin-top: 0px;
    padding: 0px;
}
.mydiv{
    background-color:#ffc2d1;
    width: 210px;
    height: 50px;
    border: 1px solid #ffc2d1 ;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 60px;
    box-shadow :5px 5px black;

}
#ingredients{
    background-color:#ffc2d1;
    width: 190px;
    height: 250px;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    text-align: left;
    border-radius: 60px;
    box-shadow :5px 5px black;
}
h3{
    color: #ef476f;
}
li::marker{
    color: #ef476f;
}
#Preparation{
    background-color:#ffc2d1;
    width: auto ;
    height: auto;
    padding: 20px 20px  10px 20px  ;
    text-align: left;
    margin: 10px;
    border-radius: 60px;
    box-shadow :5px 5px black;
}